<?xml version="1.0"?>
<!--

  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<roleManager enabled="true"/>
		<authentication mode="Forms">
			<forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx"></forms>
		</authentication>
		<compilation debug="false" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="ssgwcyxxd">
				<network host="smtp.126.com" password="..." port="25" userName="ssgwcyxxd"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
